set default=0
set timeout=5

# Marca NexOS
set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

if [ -f /boot/grub/splash.png ]; then
   insmod png
   loadfont /boot/grub/unicode.pf2
   set gfxmode=auto
   insmod gfxterm
   terminal_output gfxterm
   background_image /boot/grub/splash.png
fi

menuentry "NexOS Escritorio Live (Vanguard)" {
    linux /live/vmlinuz boot=live components hostname=nexos username=nexos quiet splash
    initrd /live/initrd.img
}

menuentry "NexOS Live (a prueba de fallos)" {
    linux /live/vmlinuz boot=live components hostname=nexos username=nexos memtest noapic noapm nodma nomce nolapic nomodeset nosmp vga=normal
    initrd /live/initrd.img
}

menuentry "NexOS Modo Forense (sin automontaje)" {
    linux /live/vmlinuz boot=live components hostname=nexos username=nexos noswap noautomount
    initrd /live/initrd.img
}
