# Configuración de Arranque ISOLINUX NexOS (BIOS Legacy)
# Este menú aparece al arrancar desde sistemas BIOS/Legacy.

UI vesamenu.c32
MENU TITLE NexOS Vanguard Edition
MENU BACKGROUND splash.png

MENU COLOR border       0     #00000000 #00000000 none
MENU COLOR title        1;36  #ff1dc1d1 #00000000 none
MENU COLOR sel          7;37  #ff000000 #ff1dc1d1 none
MENU COLOR unsel        37;40 #ffffffff #00000000 none
MENU COLOR hotsel       1;7   #ff000000 #ff1dc1d1 none
MENU COLOR hotkey       1;36  #ff1dc1d1 #00000000 none
MENU COLOR tabmsg       37;40 #ff999999 #00000000 none
MENU COLOR timeout_msg  37;40 #ff999999 #00000000 none
MENU COLOR cmdline      37;40 #ffffffff #00000000 none

MENU TABMSG Pulsa TAB para editar opciones de arranque

DEFAULT live
TIMEOUT 50
PROMPT 0

LABEL live
    MENU LABEL ^NexOS Escritorio Live (Vanguard)
    MENU DEFAULT
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live components quiet splash hostname=nexos username=nexos

LABEL live-failsafe
    MENU LABEL NexOS Live (^A prueba de fallos)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live components hostname=nexos username=nexos memtest noapic noapm nodma nomce nolapic nomodeset nosmp vga=normal

LABEL live-forensic
    MENU LABEL NexOS ^Modo Forense (sin automontaje)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live components hostname=nexos username=nexos noswap noautomount
